################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/net25-kurs-3-valfri-h1-337-ella/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
*.db-shm
/.vs/net25-kurs-3-valfri-h1-337-ella/FileContentIndex/31b30298-3396-4c0a-85b2-4a5e6eca22d9.vsidx
/.vs/net25-kurs-3-valfri-h1-337-ella/FileContentIndex/1070bc4c-e709-4625-a381-d4c60548df28.vsidx
*.vsidx
/.vs/net25-kurs-3-valfri-h1-337-ella/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-wal
/.vs/net25-kurs-3-valfri-h1-337-ella/v17/.wsuo
/.vs/net25-kurs-3-valfri-h1-337-ella/v17/DocumentLayout.backup.json
/.vs/net25-kurs-3-valfri-h1-337-ella/v17/DocumentLayout.json
/.vs/net25-kurs-3-valfri-h1-337-ella/v17/TestStore/0/000.testlog
/.vs/net25-kurs-3-valfri-h1-337-ella/v17/TestStore/0/testlog.manifest
/.vs/ProjectSettings.json
/.vs/net25-kurs-3-valfri-h1-337-ella/CopilotIndices/17.14.1368.60722/CodeChunks.db
/.vs/net25-kurs-3-valfri-h1-337-ella/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Backend/obj/Debug/net10.0/Backend.AssemblyInfo.cs
/Backend/obj/Debug/net10.0/Backend.AssemblyInfoInputs.cache
/Backend/obj/Debug/net10.0/Backend.assets.cache
/Backend/obj/Debug/net10.0/Backend.GeneratedMSBuildEditorConfig.editorconfig
/Backend/obj/Debug/net10.0/Backend.GlobalUsings.g.cs
/Backend/obj/Release/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/Backend/obj/Release/net10.0/Backend.GeneratedMSBuildEditorConfig.editorconfig
/Backend/obj/Release/net10.0/Backend.GlobalUsings.g.cs
/Backend/obj/Release/net10.0/Backend.AssemblyInfoInputs.cache
/Backend/obj/Release/net10.0/Backend.assets.cache
/Backend/obj/Release/net10.0/Backend.AssemblyInfo.cs
