<div class="manage-users-container">
  <header class="page-header">
    <h1>Hantera användare</h1>
    <button class="btn-primary" (click)="openAddUserModal(userResource)">
      + Skapa användare
    </button>
  </header>

  <div class="user-list-mock">
    <p>Exempel på användare:</p>
    <!-- div class="user-card" (click)="openEditUserModal({ name: 'Ella Nord', email: 'ella@example.com', role: 'admin' })" -->
    @for(user of userResource.value() ?? []; track user.id) {
      <div class="user-card" (click)="openEditUserModal({ name: user.displayName, email: user.email, role: user.role, id: user.id})">
        <span>{{ user.displayName }} ({{ user.role }})</span>
        <button class="btn-ghost">Redigera</button>
      </div>
    }

    <!--/div-->
  </div>
</div>
