:host {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-family: sans-serif;
    text-align: center;
}

.error-container {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: var(--shadow-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.error-container img {
    width: 300px;
    height: auto;
}

h1 {
    font-size: 80px;
    margin: 0;
    color: var(--color-danger);
}

h2 {
    margin-top: 0;
    color: var(--color-text-primary);
}

p {
    color: var(--color-text-secondary);
    margin: 0px;
}

button {
    background: var(--color-primary);
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: var(--color-primary-hover);
}

/* Responsive design */
@media (max-width: 600px) {

    :host {
        margin-top: 20px;
        padding: 0 16px;
    }

    .error-container {
        padding: 20px;
        gap: 12px;
    }

    .error-container img {
        width: 180px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    button {
        padding: 8px 12px;
        font-size: 14px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-bg-body);
    }

    h2 {
        color: var(--color-text-primary);

    }

    p {
        color: var(--color-text-secondary);
    }

    .error-container {
        background: var(--color-bg-card);
        border: 1px solid var(--color-border);
    }
}